<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712176340011-fl2kisdcpr7skjmk07nskhd3i1kq1dbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712176340011-fl2kisdcpr7skjmk07nskhd3i1kq1dbs</string>
	<key>API_KEY</key>
	<string>AIzaSyBh_nySoq9ikhwlwgZgkjcPTTc9q4VcZQk</string>
	<key>GCM_SENDER_ID</key>
	<string>712176340011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acilYardim</string>
	<key>PROJECT_ID</key>
	<string>acilyardim-aeaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>acilyardim-aeaf4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712176340011:ios:9ba6f120496bd040022e6e</string>
</dict>
</plist>